@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Raleway, "san-serif";
}

html {
  scroll-behavior: smooth;
}

.border {
  border-bottom: 1px solid black;
  border-top: none; /* Ensure no other borders are affecting it */
  border-left: none;
  border-right: none;
}

.font {
  font-style: italic;
}

.parallax {
  background-attachment: fixed; /* Keep the background fixed during scroll */
  background-size: cover; /* Cover the entire section */
  background-position: center; /* Center the background image */
}
.ticker-wrapper {
  width: 100%;
  overflow: hidden;
}

.ticker {
  display: inline-flex;
  white-space: nowrap;
  animation: ticker var(--animation-duration) linear infinite;
}

.ticker-content {
  display: flex;
}

.ticker-item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 5rem;
}

@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
#particles canvas {
  z-index: -1;
  position: absolute;
  height: 100vh;
  width: 100%;
}

@keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 45%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.arrow-first,
.arrow-second {
  @apply opacity-0 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-[30px] h-[3px] before:content-[''] after:content-[''];
}

.arrow-first::before,
.arrow-first::after,
.arrow-second::before,
.arrow-second::after {
  @apply absolute top-0 left-0 bg-white h-full w-full;
}

.arrow-first::before,
.arrow-second::before {
  @apply rotate-45 origin-top-left;
}

.arrow-first::after,
.arrow-second::after {
  @apply -rotate-45 origin-top-right;
}

.arrow-first {
  animation: arrow-movement 2s ease-in-out infinite;
}

.arrow-second {
  animation: arrow-movement 2s 1s ease-in-out infinite;
}
